<a href="https://colab.research.google.com/github/winfrednyoroka/16S-rDNA-dada2-pipeline/blob/master/Practice_Notebook_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# 1. Comments, Variables and Printing

## 1. Comments

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1:</font> Single Line Comments

In [ ]:
# This is a single line comment. We use the hash character to indicate the following single line content are comments.
score = 56

##### <font color="blue">Example 2:</font> Multiple Line Comments - Method 1

In [ ]:
'''
This is a multiline comment. 
We use the delimiter characters to indicate that 
the following multi line content are comments.
'''
score = 53

##### <font color="blue">Example 3:</font> Multiple Line Comments - Method 2

In [ ]:
# ---
# This is a multiline comment. 
# We can also use multiple hash characters to comment on 
# a block of content just as shown in this example.
# We will be using this method of commenting to 
# provide more information about the exercises 
# and challenges within this course.
# ---

score = 53

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1:</font> Explain the following code using a single line comment.

In [ ]:
# The following line has the code tree = 5
tree = 5

##### <font color="green">Challenge 2:</font> Explain the following code using multiple line comments (using delimiters)

In [ ]:

tree = 5 + 4

##### <font color="green">Challenge 3: </font> Explain the following code using multiple line comments (Using Single line comments)

In [ ]:
tree = 5 + 5

## 2. Variables

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# ---
# Question: Assign the value 10 to the variable a.
# ---
# OUR CODE GOES BELOW
#

a = 10


name = "Valentine"

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ---
# Question: Assign the name Susan to the variable name.
# ---
# OUR CODE GOES BELOW
#

sister, brother = "Susan", "Paul"

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3
# ---
# Question: Assign the value ["one", 2, ["three"]] to the variable numbers
# ---
# OUR CODE GOES BELOW
#

numbers = ["one", 2, ["three"]]

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Assign the your last name to the variable last_name.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Assign your final highschool grade to the variable highschool_grade.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Assign the dictionary { "brand": "Toyota", "model": "Wish", "year": 2005 } 
# to the variable cars.
# ---
# YOUR CODE GOES BELOW
#

## 3. Printing

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# ---
# Question: Printing the text hello in our output console
# ---
# OUR CODE GOES BELOW
#

print("Hello!")

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ---
# Question: Printing the text Hello Valentine and putting a seperator.
# ---
# OUR CODE GOES BELOW
#

print("Hello", "Valentine!", sep="-")

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3 
# ---
# Question: Printing the following dictionary colors = {'red', 'green', 'blue'}
# ---
# OUR CODE GOES BELOW
# 

colors = {'red', 'green', 'blue'}
colors

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Using the print function print out your last name
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Print out the your full names below seperated by spaces
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Store the values 400 and "Employees" in the variables x and y 
# then print out these two variables.
# ---
# YOUR CODE GOES BELOW
#

# 2. Arithmetic Operators

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Let's perform an addition operation below
# ---
# 

# Declare our variables
a = 20
b = 16

# Addition
c = a + b

# Printing out our results
print(c)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Performing a division operation
# ---
# 
d = a / b

# Printing out our result
print(d)

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Using the increment operator to perform a = a + b 
# ---
# 

# Using the increment operator
a += b

# Printing out our result
print(a)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Subtract b from a using the above declared variables
# ---
# 
print(a-b)

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Muplitiply a and b variables
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3 
# ---
# Question: Using the decrement operator to perform a = a - b 
# ---
# 
OUR CODE GOES HERE

# 3. Data Types

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Dynamically-inferred types
# ---
#
x = 20
print(type(x))
x = '20'
print(type(x))
x = 20.0
print(type(x))

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Manual type-conversion (string to int)
# ---
# 
x = 20
y = '5'
print(x + int(y))

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Automatic type-conversion (int to float)
# ---
#
x = 20
print(type(x))
x += 5.0
print(x), type(x)

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Dividing Integers
# ---
# 
a = 20
b = 5
print(a/b)
print(b/a)

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Forcing float division
# ---
# 
print(b/'5')
# How can you correct this?

##### <font color="blue">Example 6

In [ ]:
# Examaple 6
# ---
# String "arithmetic" (actually concatenation)
# ---
a = 'John '
b = 'Doe'
print(a + b)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Concatenate and print your full names.
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Run and correct the following code.
# ---
# 
x = 10
y = '5'
print x + y

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Perform integer division of 199 and 3 with the result being a float.
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Concatenate and print your postal address with the City and Country.
# ---
# 
OUR CODE GOES HERE

# 4. Lists

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Creating a restaurant list
# ---
# 

# Defining our list
restaurants = ["cj's", "Java", "Nyama Mama", "Italian", "Swahili", "Khosa"]

# Printing our result
print(restaurants)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Adding elements to a list
# ---
# 

# Adding the restaurant Viridian to our restaurants list
restaurants.append("Viridian")

# Printing our result
print(restaurants)

##### <font color="blue">Example 3

In [ ]:
# Example 3 
# ---
# Updating an element in a list
# ---
#
restaurants[1] = "Asmara"

# Printing our result
print(restaurants)

##### <font color="blue">Example 4

In [ ]:
# Example 4 
# ---
# Removing an element from a list
# ---
#
restaurants.remove("Viridian")

# Printing our result
print(restaurants)

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Slicing a list
# ---
#

# Getting the first two elements 
print(restaurants[0:2])

# Getting items from 2nd position to the end 
print(restaurants[2:])

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Create a list with 10 kenyan towns.
# Towns: Lodwar, Thika, Kitale, Nyeri, Lamu, Naivasha, Nanyuki, Kakamega, Nyahururu, Voi
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Add the towm Homabay to the list
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Update the city in the fifth position to Malindi
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Get the city Homabay and Malindi from the kenyan towns list
# ---
# 
OUR CODE GOES HERE

# 5. Conditional (If) Statements

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# If keyword
# ---
# 
p = 500
q = 100

if q < p:
  print("y is less than x")

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Elif keyword
# ---
# 
r = 100
s = 100

p = 500
q = 100

if s < r:
  if q < p:
    print("y is less than x")
elif r == s:
  print("r and s are equal")

##### <font color="blue">Example 3

In [ ]:
# Example 3 
# ---
# Else keyword
# ---
# 
a = 150
b = 50

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# And keyword
# ---
# 
name = "Mary"    
age  = 30 

if name == "Mary" and age == 30:
  print("My name is Mary, and I am 30 years old.")

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Or keyword
# ---
# 
a = 100
b = 101
c = 99

if a > b or a > c:
  print("At least one of the conditions is True")

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Find out if t is less than s
# ---
# OUR CODE BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Write a program that checks the value of vowel, i.e. a, e, i, o or u 
# then displays whether the entered letter is a vowel.
# ---
# OUR CODE BELOW
#

# 6. Dictionaries

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Creating a dictionary
# ---
# 

vehicle =	{
  'brand': 'Toyota',
  'model': 'Subaru',
  'year': 2019
}
print(vehicle)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Adding elements to a dictionary
# ---
# 

# Adding an element to your dictionary
vehicle['engine'] = '1800cc'  

# Printing out our updated dictionary
print(vehicle)

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Updating elements in a dictionary
# ---
# 

# Updating an element to our dictionary
vehicle['engine'] = '2400cc'

# Printing out our updated dictionary
print(vehicle)

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Accessing an element from a dictionary
# ---
# 

# Printing our vehicle's model
#
print(vehicle["model"]) 

# or we could use
print(vehicle.get("model"))

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Removing an element from a dictionary
# ---
# 

# Removing model from the dictionary
vehicle_without_model = vehicle.pop("model")
vehicle

##### <font color="blue">Example 6

In [ ]:
# Example 6
# ---
# Checking if an element exists
# ---
# 

if "brand" in vehicle:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Create a dictionary named television then populate it with 
# any values for screen_size, screen_type, manufacturer
# ---
#
OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Add the element date_of_manufacture with value 2018 to the 
# television dictionary 
# ---
#
OUR CODE GOES HERE

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# Update the element date_of_manufacture with value 2019 in the 
# television dictionary 
# ---
#
OUR CODE GOES HERE

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# Access the screen size in the television dictionary above
# ---
#
OUR CODE GOES HERE

##### <font color="green">Challenge 5</font>

In [ ]:
# Challenge 45
# Check whether designer is a key in the television dictionary 
# ---
#
OUR CODE GOES HERE

# 7. For Loops

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Looping/iterating through a string
# ---
# 
for y in "Karuna Karuna":
  print(y)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Using a break statement to stop the loop before it continues its iteration
# ---
# 

# Let's print out the restaurants list that we had created earlier on
restaurants = ["cj's", "Java", "Nyama Mama", "Italian", "Viridian", "Khosa"]

# Looping and using a break statement
for x in restaurants:
  print(x) 
  if x == "Viridian":
    break

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Using a continue statement to stop the current iteration of the loop 
# and continue the next section of our code
# ---
# 

mobile_phone = ["iphone 4", "iphone 5", "iphone 6", "iphone 7", "iphone 8", "iphone x", "iphone xs"]

for x in mobile_phone:  
    if x == 'iphone 6' or x == 'iphone 8': 
         continue
    print ('Checked Phone :', x)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Iterate through the string "My land is Kenya"
# ---
#
OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Iterate through the given footballers list and stop at "Mariga"
# ---
# 

footballers = ["Oliech", "Kahata", "Yohana", "Matasi", "Mariga", "Wanyama"]

OUR CODE GOES HERE

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Let's print out a word if it doesn't have the letter "e" in the given cakes below
# ---
# Hint: 
# 

cakes = ["Blueberry", "Raspberry", "Vanilla", "Chocolate", "Marble", "Apple", "Banana", "Passion"]

OUR CODE GOES HERE

# 8. While Loops

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Iterating over a list using the while loop
# ---

# First defining our list
teachers = ['Mukami', 'Kamau', 'Oliech', 'Otieno', 'Ewar', 'Nyambura', 'Lucas', 'Dennis', 'Hellen']

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
  # print out the element in the list as per the index
  print(teachers[i])
  
  # incrementing our i by 1
  i += 1

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Using a break statement while iterating over our teachers list
# ---
# 

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
  # print out the element in the list as per the index
  if word == teachers[i]:
    
      print("Find the element at position:",i)
    
      break
  
  # incrementing our i by 1
  i += 1

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Using the continue statement forces the next iteration of the loop to take place 
# ---
#

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
    print("Checking element:", i)
    
    if word != teachers[i]:
        
        i = i + 1
        
        continue
 
    print("Find the element at ", i)
    
    # stop the loop
    i = no_of_teachers

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Iterate through the following list and stop at 8
# ---
# 

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2 
# ---
# Question: Create a while loop that prints out the following list 
# skipping the string 'Other' during iteration.
# ---
# 

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

OUR CODE GOES HERE

# 9. Functions

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Let's use built-in functions
# ---
# 

# The max() function will return the item with the highest value as shown
# in the given list
x = max([23, 22, 55, 23, 44])
print(x)

# Using the max() function, we can return the item with the highest value alphabetically
y = max(["Susan", "Grace", "Simon"])
print(y)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Let's create a function to find out which of two numbers is greater than the other 
# ---
#

# we define it by giving it the name max_of_two
def max_of_two():
  
  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5
  
  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:
    
      # the return keyword allows us to provide back the result/output of our function
    return first_number
  
    # the return key word allows us to provide back the result/output of our function
  return second_number
 
# Lastly, we do the most important step; which is to call the function that 
# we have just created above. Calling allows us to use the function. 
# We have also been calling our built-in functions from the previous section.
#
max_of_two()

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Let's define our function by creating a 
# ---
#

def average_of_two_numbers(x, y): 
  average_of_two_numbers = (x + y)/2 
  return print(average_of_two_numbers)  
  
average_of_two_numbers(4, 5)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Determine the lowest value in the given array
# ---
#

x = [23, 22, 55, 23, 44]

OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Create function that takes in first_name, middle_name, and last_name 
# as parameters and returns the full name
# ---
#
OUR CODE GOES HERE

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Create a python function that calculates the area of rectangle 
# when the value of the height and width is passed to the function.
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Uberite, a logistics app has a base fare of Ksh. 400. 
# The app charges Ksh. 30 for every 100 meters travelled. 
# Create a python function fare that takes the distance travelled 
# as a parameter and returns the charge.
# ---
# 
OUR CODE GOES HERE